div.add
	form(method="post", action="/user/listing/add")
		table
			tr
				td
					label MLS Number:
					input(type="text", name="mls")
				td
					label Property Name:
					input(type="text", name="propName")
			tr
				td
					label Property URL:
					input(type="text", name="url")
				td
					label Key Code:
					input(type="text", name="key")
		input(type="hidden", name="userid", value="#{userid}")
		input(type="submit")