form(method="post", action="/")
	label From:
	input(type="text", name="From")
	label To:
	input(type="text", name="To")
	label Body:
	input(type="text", name="Body")

	input(type="submit", value="go")