body {
    background-color: #403738;
    color: #FFFFFF;
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin-top: 50px;
}

h1, h2 {
    color: white;
}

a.test {
    color: white;
    font-size: 16px;
}

.loginContainer {
    margin-top: -35px;
    margin-left: 780px;
}

.login a{
    color: white;
}

.title {
	color: white;
	font-size: 72px;
	text-align: center;
	text-shadow: 3px 3px 0px #393D48, 6px 6px 0px #5c5f72;
    margin-bottom: 40px;
}

.nav-text {
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}

.nav-text a {
    color: white;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.nav-text a:hover {
    padding: 5px 5px 5px 5px;
    background-color: #6F6963;
    color: white;
    border: 1px solid #6F6963;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.admin .bounding-box{
    background-color: white;
    color: #554e4e;
    border: 1px solid green;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 475px;
}

.admin .admin-info{
    margin-top: 10px;
}
.admin .left-box{
    float: right;
}

.admin .gutter-text {
    font-size: 20px;
    font-weight: bold;
}

.admin .gutter-text-sm a {
    font-size: 12px;
    margin-top: 5px;
    float: right;
}

.admin .listing {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}
.admin .user-info{
    font-size: 15px;
}

.admin .user-text{
    margin-bottom: -2px;
}

.admin .showings{
    font-size: 12px;
}

.admin .show-title {
    margin-top: -40px;
    font-weight: bold;
    font-size: 16px;
}

.admin .icons {
    height: 16px;
    width: 16px;
    padding: 2px 2px 2px 2px;
}

.add h1 {
    color: black;
}

.add form {
    color: black;
}

.add td {
    width: 350px;
}

.add .url {
    width: 518px;
}